@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movie";
}

<div>
    <h1>This is the Movie Page</h1>
    <p>This is where all of the movies will go</p>
</div>
